@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom,#F2C9CC,#F2E4C9);
    background-attachment: fixed;
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(242, 121, 121, 0.7);
}

h1{
    color: #4AD96D;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(42, 126, 63, 0.8);
}

h2{
    color: #253759;
}

p{
    text-align: justify;
}
