@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    /*1em geralmente = 16px*/
    /*
    Código que foi abreviado pelo shorthand font

    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    */
    font: italic normal 1em Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
