@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-width: 100vh;
    background-color: white;
    text-align: left;
}

header{
    padding: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-variant: small-caps;
}

header > h1 {
    text-align: center;
    text-decoration: overline;
    font-size: 2.5em;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section > p{
    font-size: 2em;
    line-height: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section.normal{
    color: black;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    width: 450px;
}

section#primeiraimg{
    color: white;
    background: green url(imagens/background001.jpg) right bottom no-repeat fixed;
    background-size: cover;
}

section#segundaimg{
    color: black;
    background: gray url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

footer{
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: lightgray;
    text-decoration: none;
}

a:hover{
    color: red;
}